project/boot
target
.ensime
.ensime_lucene
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea/

# Auto-copied by sbt-microsites
docs/src/main/tut/contributing.md
.bloop/
.metals/
.bsp/
project/metals.sbt
project/project/
